- faq_link          = link_to s_("BillingPlans|frequently asked questions"), Gitlab::Saas.about_pricing_faq_url
- pricing_page_link = link_to s_("BillingPlans|Pricing page"), Gitlab::Saas.about_pricing_url

- if namespace.trial_active?
  .billing-plan-divider.gl-mx-auto.gl-text-left.gl-mb-n3.gl-mt-5
    = render Pajamas::AlertComponent.new(variant: :warning,
          title: html_escape(s_("BillingPlans|Your GitLab.com %{plan} trial will %{strong_open}expire after %{expiration_date}%{strong_close}.")) % { plan: namespace.gitlab_subscription&.plan_title&.remove(' Trial'), expiration_date: namespace.trial_ends_on, strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }) do |c|
      = c.with_body do
        = s_("BillingPlans|You can retain access to the %{plan} features by upgrading below.") % { plan: namespace.gitlab_subscription&.plan_title&.remove(' Trial') }
- else
  %p.gl-text-secondary
    - if show_start_free_trial_messages?(namespace)
      = html_escape(s_("BillingPlans|Learn more about each plan by reading our %{faq_link}, or start a free 30-day trial of GitLab.com Ultimate.")) % { faq_link: faq_link.html_safe }
    - else
      = html_escape(s_("BillingPlans|Learn more about each plan by visiting our %{pricing_page_link}.")) % { pricing_page_link: pricing_page_link.html_safe }

